Source: susi-server
Section: misc
Priority: optional
Maintainer: SUSI.AI Packaging Team <norbert@preining.info>
Build-Depends: debhelper (>= 12),
	gradle-debian-helper,
	default-jdk
Standards-Version: 4.2.1
Homepage: https://dev.susi.ai/
Vcs-Git: https://github.com/fossasia/susi_server.git
Vcs-Browser: https://github.com/fossasia/susi_server

Package: susi-server
Architecture: all
Depends: susi-skill-data, adduser, default-jdk-headless, ${shlibs:Depends}, ${misc:Depends}
Description: SUSI.AI Server
 Providing deep answers!
