#!/usr/bin/make -f

DDIR=debian/susi-server
BASE=/usr/share/susi-server
SSERVER=$(BASE)/susi_server
SSERVER_VAR=/var/lib/susi-server
JARFILE=build/libs/susi_server-all.jar


%:
	dh $@

override_dh_auto_build:
	./gradlew --gradle-user-home .gradle build

override_dh_auto_install:
	mkdir -p $(DDIR)$(SSERVER)/bin
	mkdir -p $(DDIR)$(SSERVER)/release
	mkdir -p $(DDIR)$(SSERVER)/build/libs
	mkdir -p $(DDIR)$(SSERVER_VAR)
	cp -R conf $(DDIR)$(SSERVER)
	cp -R html $(DDIR)$(SSERVER)
	cp $(JARFILE) $(DDIR)$(SSERVER)/build/libs
	cp bin/*.sh $(DDIR)$(SSERVER)/bin
	mkdir $(DDIR)$(SSERVER_VAR)/data
	ln -s $(SSERVER_VAR)/data $(DDIR)$(SSERVER)/data
	#
	# do some cleanup
	chmod -R ugo-x `find $(DDIR)$(SSERVER)/ -type f`
	chmod ugo+x $(DDIR)$(SSERVER)/bin/*.sh


